.home{
    background-image: url('background.jpg');
    background-size: cover;
    height: calc(100vh - 160px);
}
.main-text{
    font-size: 70px;
    color: white;

    margin-top: 0px;
    margin: auto;
    width: 50%;
}