.home{
    background-image: url('background.jpg');
    background-size: cover;
    height: calc(100vh - 160px);
}
.main-text{
    font-size: 50px;
    color: white;
    font-weight: bold;
    margin-top: 0px;
    
    margin-left: 6%;
    width: 30%;
}

.main-text p::first-letter{
    color: rgb(31, 241, 241);
}

.main-text p{
    margin-top: 0px;
    margin-bottom: 0px;
}


