.home{
    background-image: url('background.jpg');
    background-size: cover;
    height: 100vh;
}
.main-text{
    font-size: 50px;
    color: white;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 3%;
    padding-left: 6%;
    width: 30%;
}

.main-text p::first-letter{
    color: rgb(31, 241, 241);
}

.main-text p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.linkToMission{
    display:flex;
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-align: center;
 
    -webkit-transition: color 0.4s;
}

.linkToMission:hover{
    color: rgb(31, 241, 241);
}


