.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background: linear-gradient(356deg, rgba(131,58,180,1) 11%, rgba(255,40,40,1) 50%, rgba(252,176,69,1) 100%);
}

.navbar-title{
    color: white;
    font-size: 35px;
    margin-left: 4vw;
    box-sizing: content-box;
    margin-right: 0;
}

.navbar-menu{
    position: relative;
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    margin-right: 4vw;
}

.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover{
    background-color: purple;
    border-radius: 4px;
    transition: all 200ms ease;
}

.navbar-bars{
    color: white;
    display: none;
}

@media screen and (max-width: 1130px){
    .navbar-bars{
        display: flex;
        font-size: 35px;
        margin-right: 4vw;
    }

    .navbar-title{
        font-size: 25px;
    }

    .navbar-menu{
        display: none;
    }

    .navbar-items {
        background-color: purple;
        width: 350px;
        height: 600px;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 80px;
        right: -350px;
        transition: 350ms ease-in-out;
    }
      
    .navbar-items.active {
        right: 0;
        transition: 350ms ease-in-out;
    }

    .navbar-menu{
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease;
        grid-gap: 20px;
        align-items: center;
    }

    .nav-links{
        position: relative;
        padding-top: 10px;
        color: white;
        margin-top: 10px;
        font-size: 20px;
    }
    
}
