.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background:rgb(204, 170, 133);
}

.navbar-logo{
    
    height: 80px;
    margin-left: 4vw;
    margin-right: 0;
}



.navbar-menu{
    position: relative;
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    margin-right: 4vw;
}

.nav-links{
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover{
    background-color: white;
    color: black;
    border-radius: 4px;
    transition: all 200ms ease;
}

.navbar-bars{
    color: white;
    display: none;
}

@media screen and (max-width: 1130px){
    .navbar-bars{
        display: flex;
        font-size: 35px;
        margin-right: 4vw;
    }

    .navbar-title{
        font-size: 25px;
    }

    .navbar-menu{
        display: none;
    }

    .navbar-items {
        background-color: rgb(204, 170, 133);
        width: 350px;
        border-bottom-left-radius: 30px;
        height: 350px;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 80px;
        right: -350px;
        transition: 350ms ease-in-out;
    }
      
    .navbar-items.active {
        right: 0;
        transition: 350ms ease-in-out;
    }

    .navbar-menu{
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease;
        grid-gap: 20px;
        align-items: center;
    }

    .nav-links{
        position: relative;
        padding-top: 10px;
        color: white;
        margin-top: 10px;
        font-size: 20px;
    }

    .nav-links:hover{
        background-color: white;
        color: black;
        border-radius: 4px;
        transition: all 200ms ease;
    }
}
