.footer-panel{
    background: rgb(98, 116, 104);
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 80px;
    position:fixed;
    left:0;
    bottom:0;
    right:0;
}

.footer-socialIcons{
    margin-left: 4vw;
    display: flex;
    gap: 4%;
}

.footer-socialIcons a{
    display: flex;
    color: white;
    font-size: 40px;
}

.footer-credit{
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-rights{
    font-size: 16px;
    margin-bottom: 7px;
    margin-top: 17px;
}

.credit{
    margin-top: 5px;
    margin-bottom: 0px;
}

.footer-newsletter{
    margin-right: 4vw;
}

.newsletter-text{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.instagram_icon a{
    font-size: 45px;
}

@media screen and (max-width: 800px) {
    .footer-panel{
        display: flex;
        flex-direction: column;
        height: 170px;
    }

    .footer-panel :nth-child(1) { order: 1; }
    .footer-panel :nth-child(2) { order: 3; }
    .footer-panel :nth-child(3) { order: 2; }

    .footer-socialIcons{
        margin-left: 0;
        margin-top: 10px;
    }

    .footer-newsletter{
        margin-right: 0;
        margin-top: 12px;
    }
}

